h1 {
   border-style: dotted; border-color: red;
}

/* All pages */
.page {
   margin: 10px;
}

/* Home */

/* About */


.media {
   border-style: dotted; border-color: green;
}

/* Projects */

/* Contact */
